[project]
	description = virtualization ppc on xen repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tiejun Chen (TiejunChina)
[access "refs/for/refs/*"]
	read = group user/Tiejun Chen (TiejunChina)
	push = group user/Tiejun Chen (TiejunChina)
	label-Code-Review = -2..+2 group user/Tiejun Chen (TiejunChina)
	label-Verified = -1..+1 group user/Tiejun Chen (TiejunChina)
	rebase = group user/Tiejun Chen (TiejunChina)
	removeReviewer = group user/Tiejun Chen (TiejunChina)
	submit = group user/Tiejun Chen (TiejunChina)
[access "refs/heads/*"]
	read = group user/Tiejun Chen (TiejunChina)
	create = group user/Tiejun Chen (TiejunChina)
	push = +force group user/Tiejun Chen (TiejunChina)
	pushMerge = group user/Tiejun Chen (TiejunChina)
[access "refs/tags/*"]
	push = +force group user/Tiejun Chen (TiejunChina)
	pushTag = group user/Tiejun Chen (TiejunChina)
	pushSignedTag = group user/Tiejun Chen (TiejunChina)
